<div class="text-center">
    <div class="form-recover mb-2">
        <div class="row">
            <img id="Logo" class="mx-auto d-block" src="../assets/Images/RecuperarSenhaLogo.png">
        </div>
        <form [hidden]="formActive != 1" class="form-signin" [formGroup]="recoverFormGroup" (ngSubmit)="RecuperarSenha(recoverFormGroup)" autocomplete="off">
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" formControlName="emailrecover" maxlength="100" class="form-control form-control-sm" id="emailrecover" placeholder="Insira seu email" name="emailrecover" >
                <text-error-message  *ngIf="recoverFormGroup.get('emailrecover')?.errors?.['required'] && submitrecover"
                text="Este campo é obrigatório">
                </text-error-message>
                <text-error-message  
                *ngIf="recoverFormGroup.get('emailrecover')?.errors?.['email'] && submitrecover"
                text="Campo inválido!">
            </text-error-message>
            </div>
            <div class="mb-3 mt-3">
                <label for="cpf" class="form-label">CPF:</label>
                <input type="cpf" [mask]= "'000.000.000-00'" formControlName="cpfrecover" maxlength="100" class="form-control form-control-sm" id="cpfrecover" placeholder="Insira seu CPF" name="cpfrecover" >
                <text-error-message  *ngIf="recoverFormGroup.get('cpfrecover')?.errors?.['required'] && submitrecover"
                text="Este campo é obrigatório">
                </text-error-message>
                <text-error-message  
                *ngIf="recoverFormGroup.get('cpfrecover')?.errors?.['minlength'] && submitrecover"
                text="Campo inválido!">
            </text-error-message>
            </div>
            <button type="submit" class="submit-recover" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span [hidden]="loading">Recuperar Senha</span>
            </button>       
        </form> 
        <form class="form-signin" [hidden]="formActive != 3" [formGroup]="changePasswordFormGroup" (ngSubmit)="AlterarSenha(changePasswordFormGroup)" autocomplete="off">
            <div class="mb-3 mt-3">
                <label for="senha" class="form-label">Senha:</label>
                <div class="input-group">
                    <input [type]="ActiveEyePassword ? 'text' : 'password'" 
                    class="form-control form-control-sm" 
                    formControlName="senha"
                    placeholder="Insira sua senha" 
                    maxlength="10" id="pwd"  name="pswd"             
                    aria-label="Senha" 
                    aria-describedby="div-eye">
                    <div class="input-group-append">
                      <div class="eye-password" id="div-eye" (click)="EyePassword()">
                        <i [class]="ActiveEyePassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
                      </div>
                    </div>
                </div>                
                <text-error-message  
                    *ngIf="changePasswordFormGroup.get('senha')?.errors?.['required'] && submitChange"
                    text="Este campo é obrigatório">
                </text-error-message>
                <text-error-message  
                    *ngIf="changePasswordFormGroup.get('senha')?.errors?.['invalidSenha'] && submitChange && 
                    !changePasswordFormGroup.get('senha')?.errors?.['required']"
                    [text]="changePasswordFormGroup.get('senha')?.errors?.['Motivo']">
                </text-error-message>
            </div>
            <div class="mb-3 mt-3">
                <label for="senhaRepeat" class="form-label">Repita sua senha:</label>
                <input type="password" (change)="ChangeInput()" formControlName="senhaRepeat" maxlength="10" class="form-control form-control-sm" id="senhaRepeat" placeholder="Insira novamente sua senha" name="senhaRepeat" >
                <text-error-message *ngIf="changePasswordFormGroup.get('senhaRepeat')?.errors?.['required'] && submitChange"
                    text="Este campo é obrigatório">
                </text-error-message>
                <text-error-message  
                    *ngIf="equalsInput == false && !changePasswordFormGroup.get('senhaRepeat')?.errors?.['required'] && submitChange"
                    text="Os campos não estão iguais!">
                </text-error-message>
            </div>
            <button type="submit" class="submit-recover" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span [hidden]="loading">Alterar Senha</span>
            </button>       
        </form> 
        <form class="form-signin" [hidden]="formActive != 2" (ngSubmit)="AutenticarCodigo()" autocomplete="off">
             <div class="mb-3 mt-3">
                <label for="code" class="form-label">Insira seu código:</label>
                <div class="d-flex justify-content-start">
                    <button type="button" class="btn btn-sm btn-warning" (click)="RecuperarSenha(recoverFormGroup)"><span class="timer" matTooltipPosition="left" matTooltip="Reenviar o código"><i class="bi bi-arrow-clockwise"></i></span></button>
                </div>
                <div class="input-group">
                    <code-input></code-input>
                </div>
            </div>
            <button type="submit" class="submit-recover" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span [hidden]="loading">Enviar</span>
            </button>       
        </form> 
    </div>
</div>
