<div class="wrapper">
    <nav id="sidebar" tabindex="-1">
        <div class="sidebar-header">
            <div class="d-flex justify-content-center">
                <h3>Projeto Padrão</h3>
                <strong>PJ</strong>
            </div>
        </div>       
        <div class="d-flex flex-column align-items-center justify-content-center mt-2" *ngIf="loading">
            <div class="spinner-grow" role="status"></div>
        </div>
        <ul class="list-unstyled components" *ngIf="!loading">
            <li class="active">  
                <a href="main">
                <i class="bi bi-house-fill"></i>              
                Principal
                </a> 
            </li>
            <div *ngFor="let menu of estruturaMenu">
                <li class="menu">   
                    <a [href]="'#'+ menu.nome" role="button" data-bs-toggle="collapse" aria-expanded="false" 
                    class="dropdown-toggle" [attr.aria-controls]="menu.nome" [matTooltip]="menu.descricaoModulo" matTooltipPosition="above">
                    <i [class]="menu.icone"></i>
                        {{ menu.descricaoLabel}}
                    </a>
                    <ul class="collapse list-unstyled" [id]="menu.nome" *ngFor="let subMenu of menu.lMenus"> 
                        <li class="link" routerLinkActive="active-link" [matTooltip]="subMenu.descricaoMenu" matTooltipPosition="above">
                            <a [routerLink]="subMenu.link"><span class="px-2">&#x268A;</span>{{subMenu.nome}}</a>
                        </li>
                    </ul> 
                </li>
            </div>
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" (click)="toggleClass()">
                        <span><i class="bi bi-justify-left"></i></span>
                    </button> 
                </div>
                <div class="d-flex justify-content-end">                        
                    <div class="btn-group dropstart mx-2">
                        <button type="button" class="btn btn-light btn-lg btn-navbar" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded" [src]="fotoUser" width="60"/>
                        </button>
                        <span class="span-badge translate-middle badge rounded-pill bg-danger" *ngIf="notificaoSemLer">
                            {{quantidadeSemLer}}+<span class="visually-hidden"></span>
                        </span>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header d-flex justify-content-center">
                                <strong>
                                    {{usuarioNome}}
                                </strong>
                            </li>    
                            <div class="dropdown-divider"></div>     
                            <li>
                                <a class="dropdown-item" (click)="EditarPerfil()">
                                    <small>
                                        <i class="bi bi-person-circle"></i>
                                        <span class="px-2">Perfil</span>
                                     </small>
                                </a>
                            </li>    
                            <li>
                                <a class="dropdown-item">
                                    <small>
                                        <i class="bi bi-envelope-fill"></i>
                                        <span class="px-2">Mensagens</span>
                                    </small>
                                    <span class="translate-middle badge rounded-pill bg-danger" hidden>
                                        1+<span class="visually-hidden"></span>
                                    </span>
                                </a>
                            </li>           
                            <li>
                                <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    <small>
                                        <i class="bi bi-bell-fill"></i>
                                        <span class="px-2">Notificações</span>
                                    </small>
                                    <span class="translate-middle badge rounded-pill bg-danger" *ngIf="notificaoSemLer">
                                        {{quantidadeSemLer}}+<span class="visually-hidden"></span>
                                    </span>
                                </a>
                            </li>     
                            <div class="dropdown-divider"></div>                  
                            <li>
                                <a class="dropdown-item" (click)="Deslogar()">
                                    <small>
                                        <i class="bi bi-box-arrow-in-left"></i>
                                        <span class="px-2">Sair</span>
                                    </small>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Notificações</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="listNotificacao.length > 0">
                        <div class="accordion" id="accordionExample" *ngFor="let item of listNotificacao">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button [class]="item.lido == 1 ? 'accordion-button collapsed': 'accordion-button collapsed NaoLido'" type="button" data-bs-toggle="collapse" attr.data-bs-target="#{{'accordion' + item.idNotificacao}}" aria-expanded="false" attr.aria-controls="{{'accordion' + item.idNotificacao}}" (click)="NotificacaoLida(item)">
                                        <i [class]="item.lido == 1 ? 'bi-envelope-fill m-2' : 'bi bi-envelope-open-fill m-2'"></i>
                                        <strong>{{item.titulo}}</strong> 
                                    </button>
                                </h2>
                                <div [id]="'accordion' + item.idNotificacao" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {{item.corpo}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center text-muted" *ngIf="listNotificacao.length == 0">
                        Você não possui notificações!
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                </div>
              </div>
            </div>
        </div>
        <div class="container-fluid" style="min-height: 100vh;z-index: 1;">
            <router-outlet></router-outlet>            
        </div>
        <footer class="text-center p-2 border-top footer-content bottom-0 end-0">
            <section class="d-inline">
                <span class="mb-1 mb-md-0 text-muted">
                    <small>            
                        <strong>&copy; 
                            2022 Copyright:
                        </strong>
                        Todos os direitos reservados
                    </small>
                </span>
                <a class="btn btn-outline-none btn-floating" href="#!" role="button">
                    <i class="bi bi-whatsapp"></i>
                </a>
        
                <a class="btn btn-outline-none btn-floating" href="#!" role="button">
                    <i class="bi bi-github"></i>
                </a>
        
                <a class="btn btn-outline-none btn-floating" href="#!" role="button" >
                    <i class="bi bi-facebook"></i>
                </a>
            </section>
        </footer>    
    </div>
</div>



