<div class="sidebar-wrapper group menu-open">
    <div id="bodyOverlay" class="w-screen h-screen fixed top-0 bg-slate-900 bg-opacity-50 backdrop-blur-sm z-10 hidden"></div>
    <div class="logo-segment">
      <a class="flex items-center active">
        <img src="../../assets/logo/logo-c.svg" class="black_logo" alt="logo">
        <span class="ltr:ml-3 rtl:mr-3 text-xl font-Inter font-bold text-slate-900 dark:text-white mx-3">DashCode</span>
      </a>
      <!-- Sidebar Type Button -->
      <div id="sidebar_type" class="cursor-pointer text-slate-900 dark:text-white ml-5">
        <mat-icon>radio_button_checked</mat-icon>
      </div>
      <button class="sidebarCloseIcon text-2xl">
        <mat-icon hidden>radio_button_unchecked</mat-icon>
      </button>
    </div>
    <div id="nav_shadow" class="nav_shadow h-[60px] absolute top-[80px] nav-shadow z-[1] w-full transition-all duration-200 pointer-events-none
    opacity-0">
    </div>
    <div class="sidebar-menus bg-white dark:bg-slate-800 py-2 px-4 h-[calc(100%-80px)] overflow-y-auto z-50" id="sidebar_menus">
        <div class="sidebar-menus bg-white dark:bg-slate-800 py-2 px-4 h-[calc(100%-80px)] overflow-y-auto z-50" id="sidebar_menus">
            <div class="d-flex flex-column align-items-center justify-content-center mt-2" *ngIf="loading">
                <div class="spinner-grow" role="status"></div>
            </div>
            <ul class="sidebar-menu" *ngIf="!loading">
                <div *ngFor="let menu of estruturaMenu">
                    <li class="sidebar-menu-title">Admin</li>
                    <li class="menu">   
                        <a class="text-nowrap" [href]="'#'+ menu.nome" role="button" data-bs-toggle="collapse" aria-expanded="false" 
                        class="dropdown-toggle" [attr.aria-controls]="menu.nome" [matTooltip]="menu.descricaoModulo" matTooltipPosition="above">
                        <i [class]="menu.icone"></i>
                            {{ menu.descricaoLabel}}
                        </a>
                        <ul class="collapse list-unstyled" [id]="menu.nome" *ngFor="let subMenu of menu.lMenus"> 
                            <li class="link" routerLinkActive="active-link" [matTooltip]="subMenu.descricaoMenu" matTooltipPosition="above">
                                <a [routerLink]="subMenu.link"><span class="px-2">&#x268A;</span>{{subMenu.nome}}</a>
                            </li>
                        </ul> 
                    </li>
                </div>
            </ul>
        </div>
      <!-- Upgrade Your Business Plan Card Start -->
      <div class="bg-slate-900 mb-10 mt-24 p-4 relative text-center rounded-2xl text-white" id="sidebar_bottom_wizard">
        <img src="../../assets/svg/rabit.svg" alt="" class="mx-auto relative -mt-[73px]">
        <div class="max-w-[160px] mx-auto mt-6">
          <div class="widget-title font-Inter mb-1">Acesso ilimitado</div>
          <div class="text-xs font-light font-Inter">
            Upgrade seu plano de negócio
          </div>
        </div>
        <div class="mt-6">
          <button class="bg-white hover:bg-opacity-80 text-slate-900 text-sm font-Inter rounded-md w-full block py-2 font-medium">
            Upgrade
          </button>
        </div>
      </div>
    </div>
  </div>