<div class="body">
  <div class="component" id="component">
    <div class="d-flex mb-3">
      <input type="text" autofocus [mask]="'0'" maxlength="1" class="component-control">
      <input type="text" [mask]="'0'" maxlength="1" class="component-control">
      <input type="text" [mask]="'0'" maxlength="1" class="component-control">
      <input type="text" [mask]="'0'" maxlength="1" class="component-control">
      <input type="text" [mask]="'0'" maxlength="1" class="component-control">
      <input type="text" [mask]="'0'" maxlength="1" class="component-control">
    </div>
  </div>
</div>

