<div class="w-100 header-page-crud-image">
</div>
<div class="d-flex justify-content-center header-page-crud">
    <img class="rounded-circle img-thumbnail image-perfil" [src]="UserRegisterFormGroup.get('foto')?.value == null ? 'assets/Images/Avatar.png' : UserRegisterFormGroup.get('foto')?.value">
    <button type="button" class="btn btn-light btn-sm rounded-circle btn-perfil" (click)="OpenFileUpload()">
        <i class="bi bi-camera-fill"></i>    
    </button>
    <input type="file" hidden class="form-control form-control-sm" id="customFile" (change)="ChangeFoto($event)" accept="image/png, image/gif, image/jpeg" />  
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
          <div class="d-flex justify-content-start text-header">
            Cadastro de Usuário
          </div>
        </div>
        <div class="row">
          <div class="d-flex justify-content-end text-muted">
            <span class="locale-text">Cadastros > Usuário > <strong class="text-decoration-underline">{{IsNew != true ? 'Editar' : 'Novo'}}</strong></span>
          </div>
        </div>
      </div> 
    <mat-progress-bar mode="indeterminate" [hidden]="!loading"></mat-progress-bar>
    <form [formGroup]="UserRegisterFormGroup" autocomplete="off">
        <mat-tab-group [selectedIndex]="indexTab" (selectedIndexChange)="ControleAbas($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <strong>Principal</strong>
              </ng-template>
              <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Nome<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" type="text" maxlength="100" formControlName="nome"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('nome')?.errors?.['required'] && submitRegister"
                        text="Este campo é obrigatório">
                    </text-error-message>
                    </div>
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Email<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" type="text" maxlength="100" formControlName="email"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('email')?.errors?.['email'] && submitRegister"
                        text="Campo inválido!">
                      </text-error-message>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('email')?.errors?.['required'] && submitRegister"
                        text="Este campo é obrigatório">
                        </text-error-message>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Nome do pai
                            </label>
                            <input class="form-control input-form" type="text" maxlength="100" formControlName="nomePai">
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Nome da mãe<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" type="text" maxlength="100" formControlName="nomeMae"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('nomeMae')?.errors?.['required'] && submitRegister"
                        text="Este campo é obrigatório">
                        </text-error-message>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-3 col-md-3 col-lg-3 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                CPF<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" [mask]= "'000.000.000-00'" type="text" formControlName="cpf"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('cpf')?.errors?.['required'] && submitRegister"
                        text="Este campo é obrigatório">
                        </text-error-message>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('cpf')?.errors?.['minlength'] && submitRegister"
                        text="Campo inválido!">
                      </text-error-message>
                    </div>
                    <div class="col-sm-12 col-xs-3 col-md-3 col-lg-3 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Telefone
                            </label>
                            <input class="form-control input-form" [mask]= "'(00) 00000-0000'" type="text" formControlName="telefone"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('telefone')?.errors?.['minlength'] && submitRegister"
                        text="Campo inválido!">
                      </text-error-message>
                    </div>
                    <div class="col-sm-12 col-xs-3 col-md-3 col-lg-3 py-1">
                        <label class="form-label input-label text-muted">
                            Data de nascimento<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                        </label>
                        <mat-form-field class="mat-form">
                            <input matInput [matDatepicker]="from" readonly maxlength="10" formControlName="dataNascimento">
                            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                            <mat-datepicker #from>
                              <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Voltar</button>
                                <button mat-button matDatepickerCancel (click)="LimparCampoData()">Limpar</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>
                              </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('dataNascimento')?.errors?.['required'] && submitRegister"
                        text="Campo obrigatório!">
                        </text-error-message>
                        <text-error-message  
                            *ngIf="UserRegisterFormGroup.get('dataNascimento')?.errors?.['invalidData'] && submitRegister"
                            text="Campo inválido!">
                        </text-error-message>
                    </div>
                    <div class="col-sm-12 col-xs-3 col-md-3 col-lg-3 align-self-center py-1">
                        <div class="input-label mb-3">
                            <label class="text-muted">Gênero<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span></label>
                        </div>
                        <mat-radio-group aria-label="Select an option" formControlName="genero">
                            <mat-radio-button class="px-1" checked value=0>Masculino</mat-radio-button>
                            <mat-radio-button class="px-1" value=1>Feminino</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 py-1">
                        <label class="form-label input-label text-muted">
                            Skills
                        </label>
                        <mat-form-field class="mat-form">
                            <mat-chip-list #chipList aria-label="Skill selection">
                              <mat-chip *ngFor="let option of lSkill" (removed)="Remove(option)">
                                {{option.descricao}}
                                <button matChipRemove>
                                    <i class="bi bi-x-circle-fill"></i>
                                </button>
                              </mat-chip>
                              <input 
                                     [matChipInputFor]="chipList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="Add($event)">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 py-1">
                        <label class="form-label input-label text-muted">
                            Observações
                        </label>
                        <mat-form-field class="mat-form">
                            <textarea matInput maxlength="500" formControlName="observacao"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-danger btn-sm mx-1" routerLink="/main/usuario/">
                        <i class="bi bi-box-arrow-in-left"></i><strong>Voltar</strong>
                    </button>
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="ButtonEventAba(+1)">
                        <i class="bi bi-caret-right"></i><strong>Próximo</strong>
                    </button>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <strong>Endereço</strong>
              </ng-template>
              <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group">
                            <label class="form-label input-label text-muted">
                                Cep<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                                <span matTooltip="Insira um cep válido!" matTooltipPosition="right">
                                    <i class="bi bi-exclamation-circle-fill px-2"></i>
                                </span>
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control" [mask]="'000000-00'" 
                                formControlName="cep">
                                <span class="input-group-text" (click)="PesquisarEndereco()" 
                                    matTooltip="Pesquisar!" matTooltipPosition="right">
                                    <i class="bi bi-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <text-error-message  
                    *ngIf="UserRegisterFormGroup.get('cep')?.errors?.['required'] && submitRegister"
                    text="Campo obrigatório">
                    </text-error-message>
                    <text-error-message  
                    *ngIf="UserRegisterFormGroup.get('cep')?.errors?.['minlength'] && submitRegister"
                    text="Campo inválido">
                    </text-error-message>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                País<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" formControlName="pais" type="text" [readonly]="disabledForApiCep"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('pais')?.errors?.['required'] && submitRegister"
                        text="Campo obrigatório">
                        </text-error-message>
                    </div>
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Estado<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" type="text" [readonly]="disabledForApiCep" formControlName="estado"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('estado')?.errors?.['required'] && submitRegister"
                        text="Campo obrigatório">
                        </text-error-message>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Cidade<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" type="text" [readonly]="disabledForApiCep" formControlName="cidade">
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('cidade')?.errors?.['required'] && submitRegister"
                        text="Campo obrigatório">
                        </text-error-message>
                    </div>
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Bairro<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" type="text" [readonly]="disabledForApiCep" formControlName="bairro"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('bairro')?.errors?.['required'] && submitRegister"
                        text="Campo obrigatório">
                        </text-error-message>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Rua<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" type="text" [readonly]="disabledForApiCep" formControlName="rua"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('rua')?.errors?.['required'] && submitRegister"
                        text="Campo obrigatório">
                        </text-error-message>
                    </div>
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 py-1">
                        <div class="input-group-sm">
                            <label class="form-label input-label text-muted">
                                Número<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                            </label>
                            <input class="form-control input-form" type="number" formControlName="numero"/>
                        </div>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('numero')?.errors?.['required'] && submitRegister"
                        text="Campo obrigatório">
                        </text-error-message>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-danger btn-sm mx-1" (click)="ButtonEventAba(-1)">
                        <i class="bi bi-box-arrow-in-left"></i><strong>Voltar</strong>
                    </button>
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="ButtonEventAba(+1)">
                        <i class="bi bi-caret-right"></i><strong>Próximo</strong>
                    </button>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <strong>Configuração</strong>
              </ng-template>
              <div class="card-body">
                <div class="row" *ngIf="IsAdmin == 'true'">
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 align-self-end py-1">
                        <mat-slide-toggle formControlName="perfilAdministrador">
                            <label class="input-label text-muted">Perfil Administrador<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span></label>
                        </mat-slide-toggle>
                    </div>
                </div>
                <div class="row" [hidden]="!IsNew">
                    <div class="col-sm-12 col-xs-6 col-md-6 col-lg-6 align-self-end py-1">
                        <label class="form-label input-label text-muted">
                            Senha<span class="span-required" matTooltip="Campo obrigatório" matTooltipPosition="right">*</span>
                        </label>                    
                        <div class="input-group">
                          <input [type]="ActiveEyePassword ? 'text' : 'password'" 
                          class="form-control input-form" 
                          formControlName="senha"
                          placeholder="Insira sua senha" 
                          maxlength="10" id="senha"  name="senha"             
                          aria-label="Senha" 
                          aria-describedby="div-eye">
                          <div class="input-group-append">
                            <div class="eye-password" id="div-eye" (click)="EyePassword()">
                              <i [class]="ActiveEyePassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
                            </div>
                          </div>
                        </div>            
                        <text-error-message  *ngIf="UserRegisterFormGroup.get('senha')?.errors?.['required'] && submitRegister"
                          text="Este campo é obrigatório">
                        </text-error-message>
                        <text-error-message  
                        *ngIf="UserRegisterFormGroup.get('senha')?.errors?.['invalidSenha'] && submitRegister && 
                        !UserRegisterFormGroup.get('senha')?.errors?.['required']"
                        [text]="UserRegisterFormGroup.get('senha')?.errors?.['Motivo']">
                        </text-error-message>
                    </div>
                  </div>
                <hr>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-danger btn-sm mx-1" (click)="ButtonEventAba(-1)">
                        <i class="bi bi-box-arrow-in-left"></i><strong>Voltar</strong>
                    </button>
                    <button type="submit" class="btn btn-outline-success btn-sm" [disabled]="loading" (click)="Salvar(UserRegisterFormGroup)">
                        <i class="bi bi-caret-right"></i><strong>{{IsNew != true ? 'Editar' : 'Salvar'}}</strong>
                    </button>
                </div>
              </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>