<div class="card"> 
  <div class="card-header">
    <div class="row">
      <div class="d-flex justify-content-start text-header">
        Consulta de Projetos
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-end text-muted">
        <span class="locale-text">Projetos > <strong class="text-decoration-underline">Cadastro de projeto</strong></span>
      </div>
    </div>
  </div> 
  <div class="card-body">
    <div class="row">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-success btn-sm m-1">
            <small>
              <strong>
              <i class="bi bi-arrow-right-circle"></i> Atualizar
              </strong>
            </small>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm m-1" routerLink="registro/novo">
            <small>
              <strong>
              <i class="bi bi-arrow-right-circle"></i> Novo
              </strong>
            </small>
          </button>
        </div>
    </div>
    <div class="row px-2">
      <data-grid [gridOptions]="gridOptions" [modal]="false" (Editar)="Editar($event)"></data-grid>  
    </div>
  </div> 
  <div class="card-footer">
    <div class="row">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger btn-sm m-1" (click)="GerarRelatorio(2)">
          <small>
            <strong>
              <i class="bi bi-file-pdf"></i>              
              Exportar em PDF
            </strong>
          </small>
        </button>
        <button type="button" class="btn btn-success btn-sm m-1" (click)="GerarRelatorio(1)">
          <small>
            <strong>
              <i class="bi bi-file-earmark-excel"></i>
              Exportar em EXCEL
            </strong>
          </small>
        </button>
      </div>
    </div>
  </div>
</div> 

