<div class="loginwrapper">
    <div class="lg-inner-column">
      <div class="right-column relative">
        <div class="inner-content h-full flex flex-col bg-white dark:bg-slate-800">
          <div class="auth-box2 flex flex-col justify-center h-full">
            <div class="mobile-logo text-center mb-6 lg:hidden block">
              <a href="index.html">
                <img src="../../../../assets/images/logo-light-png.png" alt=""  height="40" class="dark_logo">
              </a>
            </div>
            <div class="text-center 2xl:mb-10 mb-2">
              <h4 class="font-medium">Esqueceu sua senha?</h4>
            </div>
            <div class="font-normal text-base text-slate-500 dark:text-slate-400 text-center px-2 bg-slate-100 dark:bg-slate-600 rounded py-3 mb-4 mt-10">
              Preencha os campos abaixo e siga o passo a passo!
            </div>
            <form [hidden]="formActive != 1" class="space-y-4" [formGroup]="recoverFormGroup" (ngSubmit)="RecuperarSenha(recoverFormGroup)" autocomplete="off">
                <div class="fromGroup">
                    <label class="block capitalize form-label">Email</label>
                    <div class="relative ">
                      <input type="email" name="email" class="form-control py-2" placeholder="Insira seu email" formControlName="emailrecover" maxlength="100">
                        <text-error-message  *ngIf="recoverFormGroup.get('emailrecover')?.errors?.['required'] && submitrecover"
                            text="Este campo é obrigatório">
                        </text-error-message>
                        <text-error-message  
                            *ngIf="recoverFormGroup.get('emailrecover')?.errors?.['email'] && submitrecover"
                            text="Campo inválido!">
                        </text-error-message>
                    </div>
                </div>
                <div class="fromGroup">
                    <label class="block capitalize form-label">CPF</label>
                    <div class="relative">
                      <input type="cpf" class="form-control py-2" [mask]= "'000.000.000-00'" formControlName="cpfrecover" maxlength="100" id="cpfrecover" placeholder="Insira seu CPF" name="cpfrecover">
                    </div>
                    <text-error-message  
                        *ngIf="recoverFormGroup.get('cpfrecover')?.errors?.['required'] && submitrecover" 
                        text="Este campo é obrigatório">
                    </text-error-message>
                    <text-error-message  
                        *ngIf="recoverFormGroup.get('cpfrecover')?.errors?.['minlength'] && submitrecover"
                        text="Campo inválido!">
                    </text-error-message>
                </div>   
                <button type="submit" [disabled]="loading" class="btn btn-dark block w-full text-center">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span [hidden]="loading">Recuperar Senha</span>                
                </button>  
            </form> 
            <form  class="space-y-4" [hidden]="formActive != 3" [formGroup]="changePasswordFormGroup" (ngSubmit)="AlterarSenha(changePasswordFormGroup)" autocomplete="off">
                <div class="fromGroup">
                    <label class="block capitalize form-label">Senha</label>
                    <div class="relative">  
                      <div class="input-group">
                        <input [type]="ActiveEyePassword ? 'text' : 'password'" 
                        class="form-control py-2" 
                        formControlName="senha"
                        placeholder="Insira sua senha" 
                        maxlength="15" id="pwd"  name="pswd"             
                        aria-label="Senha" 
                        aria-describedby="div-eye">
                        <span  class="input-group-text" (click)="EyePassword()">
                          <i [class]="ActiveEyePassword ? 'ri-eye-off-line' : 'ri-eye-line'"></i>
                        </span>
                      </div>
                        <text-error-message  
                            *ngIf="changePasswordFormGroup.get('senha')?.errors?.['required'] && submitChange"
                            text="Este campo é obrigatório">
                        </text-error-message>
                        <text-error-message  
                            *ngIf="changePasswordFormGroup.get('senha')?.errors?.['invalidSenha'] && submitChange && 
                            !changePasswordFormGroup.get('senha')?.errors?.['required']"
                            [text]="changePasswordFormGroup.get('senha')?.errors?.['Motivo']">
                        </text-error-message> 
                    </div>
                </div>
                <div class="fromGroup">
                    <label class="block capitalize form-label">Repita sua senha</label>
                    <div class="relative">   
                        <input type="password"  (change)="ChangeInput()" formControlName="senhaRepeat" maxlength="15" class="form-control py-2" id="senhaRepeat" placeholder="Insira novamente sua senha" name="senhaRepeat" >
                    <text-error-message *ngIf="changePasswordFormGroup.get('senhaRepeat')?.errors?.['required'] && submitChange"
                        text="Este campo é obrigatório">
                    </text-error-message>
                    <text-error-message  
                        *ngIf="equalsInput == false && !changePasswordFormGroup.get('senhaRepeat')?.errors?.['required'] && submitChange"
                        text="Os campos não estão iguais!">
                    </text-error-message>
                    </div>
                </div>
                <button type="submit" [disabled]="loading" class="btn btn-dark block w-full text-center">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span [hidden]="loading">Alterar Senha</span>                
                </button>    
            </form> 
            <form class="space-y-4" [hidden]="formActive != 2" (ngSubmit)="AutenticarCodigo()" autocomplete="off">
                <div class="fromGroup">
                    <label for="code" class="block capitalize form-label">Insira seu código</label>
                    <div class="d-flex justify-content-start">
                        <button type="button" mat-icon-button color="basic" (click)="RecuperarSenha(recoverFormGroup)" matTooltipPosition="right" matTooltip="Reenviar o código">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                    <div class="relative">   
                        <code-input></code-input>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark block w-full text-center" [disabled]="loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span [hidden]="loading">Enviar</span>
                </button>       
            </form> 
            <div class="md:max-w-[345px] mx-auto font-normal text-slate-500 dark:text-slate-400 2xl:mt-12 mt-8 text-sm">
              <a routerLink="/login" class="text-slate-900 dark:text-white font-medium hover:underline">
                Voltar
              </a>
              ao login
            </div>
          </div>
          <div class="auth-footer text-center">
            Copyright 2023,Todos os direitos reservados
          </div>
        </div>
      </div>
      <div class="left-column bg-cover bg-no-repeat bg-center " style="background-image: url(./../../../assets/images/forget-password-bg.jpg);">
        <div class="flex flex-col h-full justify-center">
          <div>
            <div class="black-500-title max-w-[525px] mx-auto pb-20 text-center">
              Dê o primeiro passo para executar seus  
              <span class="font-bold">projetos</span>!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
