<app-breadcrumbs title="Consulta de Templates" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card"> 
  <div class="card-body">
    <div class="row">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-dark btn-border m-1" (click)="RecarregarGrid()">
          <small>
            <strong>
            <i class="ri-refresh-line"></i> Atualizar
            </strong>
          </small>
        </button>
        <button type="button" class="btn btn-outline-primary btn-border m-1" routerLink="registro/novo">
          <small>
            <strong>
            <i class="ri-add-line"></i> Novo
            </strong>
          </small>
        </button>
      </div>
  </div>
  <div class="row px-2">
    <data-grid [gridOptions]="gridOptions" [modal]="false" (Editar)="Editar($event)" (Deletar)="Deletar($event)" (Visualizar)="Visualizar($event)">
    </data-grid>  
  </div>
  </div> 
</div> 

